$primary-color: #BFC3BA;

.imitation-exercise {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // border: 1px solid yellow;
    color: $primary-color;
}

.imitation-exercise-header {
    // border: 1px solid orange;
    margin-top: 160px;
    margin-bottom: 10px;
    font-size: 14px;
}

.exercise-container {
    // border: 3px solid burlywood;
    height: 100%;
    // overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.excerpt-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    // border: 1px solid red;
    width: 90%;
    height: 100%;
    font-size: 9px;
    overflow: auto;
}

.exercise-excerpt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    // border: 2px solid green;
    height: 100%;
    padding: 10px
}

.image-container{
    display: none;
    // border: 1px solid purple;
    width: 20%;
    height: 30%;
    img {
        height: 100px;
        width: auto;
    }
}

.imitation-container {
    // height: 100%;
    // border: 1px solid blue;
    margin-top: 10px;
}


.exercise-buttons {
    // border: 1px solid black;
    width: 190px;
    display: flex;
    justify-content: space-evenly;
    button {
        border-radius: 20px;
        background-color: #0c6291;
        width: 60px;
        height: 40px;
        color: $primary-color;
    }
    margin-top: 10px;
    margin-bottom: 10px;
}