$primary-color: #BFC3BA;

.imitation-exercise {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    // border: 1px solid yellow;
    color: $primary-color;
}

.excerpt-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    // border: 1px solid red;
    width: 100%;
    height: 40%;
    font-size: 9px;
    position: relative;
}

// .text-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-evenly;
//     width: 40%;
//     border: 1px solid red;

// }

.image-container{
    display: none;
    // border: 1px solid purple;
    width: 20%;
    height: 30%;
    img {
        height: 100px;
        width: auto;
    }
}

.imitation-container {
    height: 20%;
    // border: 1px solid blue;
}

.page-contents {
    // border: 1px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    width: 95%;
    // position: relative;
    header {
        font-size: 14px;
        height: 5%;
        
    }
}

.button-container {
    // border: 1px solid green;
    position: relative;
    bottom: 18px;
}