$primary-color: #bfc3ba;

.email-main {
  border: 1px solid white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header-and-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // border: 1px solid red;
  height: 450px;
  margin-top: 150px;
}
.email-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
//   border: 1px solid green;
}
.email-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  input {
    width: 80%;
    height: 10%;
    border-radius: 18px;
    text-align: center;
  }
//   border: 1px solid yellow;
}
.email-button {
//   border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  button {
    background: none;
    border: .5px solid #9EB3C2;
    border-radius: 20px;
    width: 60px;
    height: 40px;
    color: $primary-color;
    outline: none;
    box-shadow: inset 0 0 0 1px #9EB3C2;
    cursor: pointer;
    transition: .75s;
  }
  :hover {
    background: #1B3B6F;
    box-shadow: inset 0 0 0 2px;
    font-weight: 400;
    width: 70px;
    height: 50px;
    border-radius: none;
  }

}
@media (min-width: 500px) {
    .email-main {
        justify-content: space-evenly;
    }
    .email-header {
        font-size: 15px;
    }
}
@media (min-width: 700px) {
    .header-and-input-container {
        height: 500px;
    }
    .email-header {
        font-size: 16px;
    }
    .email-inputs {
      input {
        width: 50%;
      }
    }
}
@media (min-height: 640px) {
    .email-main {
        justify-content: space-evenly;
    }
    .header-and-input-container {
        height: 400px;
    }
    .email-header {
        font-size: 17px;
    }
}