$primary-color: #BFC3BA;

.dashboard {
    color: $primary-color;
    // border: 1px solid green;
}
.dash-main {
    // border: 1px solid white;
    height: 568px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    header {
        margin-top: 45px;
        // border: 1px solid yellow;
    }
}

.dash-buttons {
    // border: 1px solid black;
    button {
        background-color: #0c6291;
        border: none;
        border-radius: 20px;
        width: 60px;
        height: 40px;
        color: $primary-color;
    }
}

@media (min-width: 500px) {
    .dashboard {
        h1 {
            font-size: 40px;
        }
    }
  }
@media (min-width: 575px) {
    .dashboard {
        h1 {
            font-size: 45px;
        }
    }
  }
@media (min-width: 625px) {
    .dashboard {
        h1 {
            font-size: 50px;
        }
    }
  }
