$primary-color: #bfc3ba;
$red: #f45e61;

@mixin linx {
  color: #a63446;
  text-decoration: none;
  transition: 2s;
  :hover {
    color: #000033;
  }
}

.dashboard {
  color: $primary-color;
  //   border: 3px solid green;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 25px;
}
.dash-main {
  //   border: 1px solid rgb(255, 255, 255);
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.dash-head {
  margin-top: 80px;
  h1 {
    background-image: url("https://media0.giphy.com/media/3bc8pP1rVdfgN1uoMV/giphy.gif?cid=790b7611c1427c8b68985c4163094a837b1a7e3f5ef95235&rid=giphy.gif");
    background-size: cover;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  // border: 1px solid yellow;
}
.dash-foot {
  //   border: 1px solid orange;
  height: 50px;
  a {
    @include linx;
    color: #bfc3ba;
  }
  padding-top: 10px;
}

.dash-buttons {
  // border: 1px solid black;
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    // isolation: isolate;
    background: none;
    border: 0 $primary-color;
    border-radius: 80px;
    width: 100px;
    height: 75px;
    // margin: 1em;
    // padding: 1em 2em;
    color: #0c6291;
    outline: none;
    font-size: 16px;
    // font-weight: 600;
    box-shadow: inset 0 0 0 2px $primary-color;
    cursor: pointer;
    transition: 0.30s;
  }
  button:hover {
    color: #fff;
    font-weight: 600;
    border: 2px solid #0c6291;
  }
}

@media (min-width: 500px) {
  .dashboard {
    h1 {
      font-size: 40px;
    }
  }
  .dash-buttons {
    button {
      width: 100px;
      height: 75px;
      // border-radius: 110px;
      font-size: 20px;
      // box-shadow: -4px 6px #999;
    }
    // button:active {
    //   background: #c7efcf;
    //   box-shadow: -2px 4px #666;
    //   color: #3a2d32;
    // }
  }
}
@media (min-width: 575px) {
  .dashboard {
    h1 {
      font-size: 45px;
    }
  }
}
@media (min-width: 625px) {
  .dashboard {
    h1 {
      font-size: 60px;
    }
  }
  .dash-buttons {
    width: 200px;
    height: 150px;
    button {
      width: 125px;
      height: 100px;
      // border-radius: 610px;
      font-size: 25px;
      // box-shadow: -5px 7px #999;
    }
    // button:active {
    //   background: #c7efcf;
    //   box-shadow: -3px 5px #666;
    //   color: #3a2d32;
    // }
  }
}
