$primary-color: #bfc3ba;


.main-imitations-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  // border: 1px solid red;
  height: 100%;
  width: 100%;
  color: $primary-color;
  a {
    text-decoration: none;
    color: #32936F;
    animation: 4s infinite breathing;
    transition: .25s;
  }
  a:hover {
    color: #A3D5FF;
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
  }
}

.imitations-header {
  // border: 1px solid green;
  margin-top: 160px;
  margin-bottom: 10px;
  font-size: 14px;
}

.imitation-exercise-link {
  padding-bottom: 30px;
  padding-top: 20px;
}

.imitations-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  // border: 1px solid blue;
  height: 100%;
  width: 90%;
  font-size: 9px;
  overflow: auto;
}
.imitation {
  // background: rgb(78, 151, 190);
  // color: black;
  border: 1.5px solid #0C6291;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  box-shadow: inset 0 0 6px #0C6291; 
  margin-top: 25px;
  img {
    opacity: 1;
  }
  opacity: 0.8;
  transition: 0.5s;
}

.imitation:hover {
  opacity: 1;
}
.author-container {
  display: none;
}
.img-class {
  object-fit: cover;
  width: 150px;
  height: 200px;
  border: 1px solid black;
  border-radius: 20px;
}

.imitations-buttons {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  button {
    border-radius: 20px;
    border: 0.5px solid #0C6291;
    background: none;
    width: 60px;
    height: 40px;
    color: $primary-color;
    outline: none;
    transition: .5s;
    cursor: pointer;
    box-shadow: inset 0 0 6px #0C6291;
  }
  button:hover {
    background-color: #BFC3BA;
    color: #A63446;
    font-weight: 700;
    border: 2px solid #A63446;
    box-shadow: none;
  }
  padding-top: 10px;
}

.excerpt {
  padding-bottom: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.quill {
  height: 300px;
  background: whitesmoke;
  color: black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  // border: 2px solid purple;
  // box-shadow: 0 0 3px #ddd;
}

@media (min-width: 360px) {
  .imitations-container {
    font-size: 10px;
  }
  .imitations-header {
    font-size: 15px;
  }
  .imitation-exercise-link {
    font-size: 13px;
  }
}
@media (min-width: 460px) {
  .imitations-container {
    font-size: 11px;
  }
  .imitations-header {
    font-size: 16px;
  }
  .imitation-exercise-link {
    font-size: 14px;
  }
}
@media (min-width: 560px) {
  .imitations-container {
    font-size: 12px;
  }
  .imitations-header {
    font-size: 17px;
  }
  .imitation-exercise-link {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .imitations-buttons {
    button {
      border-radius: 30px;
      width: 80px;
      height: 60px;
      font-size: 16px;
    }
  }
}
@media (min-width: 1000px) {
  .imitations-container {
    font-size: 13px;
  }
  .author-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    height: 275px;
    margin-left: 8px;
    padding: 5px;
    // border: 1px solid red;
  }
  .imitations-header {
    font-size: 18px;
  }
  .imitation-exercise-link {
    font-size: 16px;
  }
}
@media (min-width: 1100px) {
  .imitations-container {
    font-size: 19px;
  }
}
